<div class="user_show">
  <div class="user_profile">
    <div class="user_avatar">
      <% if @user.avatar.attached?%>
          <%=image_tag url_for(@user.avatar),:size =>"150x150" ,class: "avatar"%>
      <%else%>
        <%=image_tag "face1.jpg" ,:size =>"150x150" ,class: "avatar" %>
      <%end%>
    </div>
    <h2><%=@user.name%>
      <%if @user.id ==current_user.id%>
        <%=link_to(edit_user_path) do%>
          <i class="fas fa-user-cog"></i>
      <!-- 友達追加ボタン予定     -->
        <%end%>
      <%end%>
    </h2>
    <div class="user_introduce">
      <%=@user.profile%>
    </div>
  </div>
  <div class="user_post_list">
    <h2>Comments</h2>
    <% if @posts.empty? %>
      <%if @user.id == current_user.id%>
        <h5>まだ一度も投稿したことがありません<br>掲示板で投稿してみませんか？</h5>
      <%else%>
      <h5>このユーザーはまだ一度も投稿したことがありません</h5>
      <%end%>
    <%else%>
      <%@posts.each do |post|%>
        <div class="post_content">
          <div class="post_content_header">
            <%=post.created_at.strftime("%m月%d日 %H:%M")%>　
            掲示板名：<%=link_to post.message_board.name,message_boards_talks_path(post.message_board.id,category_id:post.message_board.category.id)%>
          </div>
          <div class="post_content_body">
            <%=post.content%>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
