<div class="main-home">
  <div class="start_container">
    <p>
    <span class = "text1">WELCOME IN</span>
    <span class="text2">Emora</span>
  </p>
  </div>
  <div class="welcome">
    <%=image_tag "student.jpg", alt: "syllabus", class: "title-img"%>
    <h1>Emora</h1>
    <h2>~For Rikkyo Students~</h2>
  </div>
  <div class="emora-introduction">
    <h1>Welcome To Emora</h1>
    <p>Emoraは<span class="only_rikkyo">立教生限定</span>のウェブサイトです。<br>
      私たちは立教生が快適な大学生活を送れるよう当ウェブサイトを通して応援していきます。<br>
      何かご不明な点やご意見がございましたら、お問い合わせよりお願い致します。<br>
    </p>
  </div>
  <!-- <div class="scroll">

  </div>
  <div class="scroll2">

  </div>
  <div id="scroll-position">

  </div> -->
  <div class="emora-description">
    <h1>What We Can For You</h1>
    <div class="emora-description-inner">
      <section>
        <div class="main-content">
          <%=link_to "/subjects/search" do%>
            <h2><i class="fas fa-book-open"></i> シラバス検索</h2>
            <%=image_tag "syllabus.jpg", alt: "syllabus", class: "main-img"%>
          <%end%>

          <p class="main-content-description">
            あなたにぴったりの講義を簡単に早く見つけることができます。
          </p>
        </div>
      </section>
      <section>
        <div class="main-content">
          <%if current_user == nil %>
            <h2><i class="fas fa-comments"></i> 掲示板</h2>
            <%=image_tag "bulletin_board.jpg", alt: "bulletin_board", class: "main-img"%>
          <%else%>
            <%=link_to(message_boards_path) do%>
              <h2><i class="fas fa-comments"></i> 掲示板</h2>
              <%=image_tag "bulletin_board.jpg", alt: "bulletin_board", class: "main-img"%>
            <%end%>
          <%end%>
          <%if current_user == nil %>
            <span class="only_sub">※会員限定</span><br>
          <%end%>
          <p class="main-content-description">
            多く立教生とつながり、相談や会話をすることが可能です。
          </p>
        </div>
      </section>
      <section>
        <div class="main-content">
          <% if current_user == nil%>
            <h2><i class="fas fa-table"></i> 時間割管理</h2>
          <%else%>
            <%=link_to(timetables_path(current_user)) do%>
              <h2><i class="fas fa-table"></i> 時間割管理</h2>
              <%=image_tag "timetable.jpg", alt: "timetable", class: "main-img"%>
            <%end%>
          <%end%>

          <%if current_user == nil %>
            <span class="only_sub">※会員限定</span><br>
            <%=image_tag "timetable.jpg", alt: "timetable", class: "main-img"%>
          <%end%>
          <p class="main-content-description">
            シラバス検索で組み立てた時間割を管理することができます。
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
