<div class="main-home">
  <!-- <div class="start-container">
    <p>
    <span class = "text1">WELCOME IN</span>
    <span class="text2">Emora</span>
  </p>
  </div> -->
  <div class="welcome" ontouchstart="">
    <%=image_tag "student.jpg", alt: "syllabus", class: "title-img"%>
    <h1>Emora</h1>
    <h2>~For Rikkyo Students~</h2>
  </div>
  <div class="emora-introduction">
    <h1>~Welcome To Emora~</h1>
    <p>Emoraは<span class="only_rikkyo">立教生限定</span>のウェブサイトです。<br>
      私たちは立教生が快適な大学生活を送れるよう当ウェブサイトを通して応援していきます。<br>
      何かご不明な点やご意見がございましたら、お問い合わせよりお願い致します。<br>
    </p>
  </div>
  <div class="emora-description">
    <h1>~What We Can For You~</h1>
    <div id="carouselExampleControls" class="carousel slide emora-description-inner" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active main-content">
            <%=link_to "/subjects/search" do%>
              <%=image_tag "syllabus.jpg", alt: "syllabus", class: "d-block w-100 main-img", ontouchstart:""%>
            <%end%>
            <div class="carousel-caption d-md-block">
              <h2><i class="fas fa-book-open"></i> シラバス検索</h2>
              <p>あなたにぴったりの講義を簡単に、早く見つけることが可能です。快適な学生生活にしましょう！</p>
            </div>
          </div>
          <div class="carousel-item main-content">
            <%if current_user == nil %>
              <%=image_tag "bulletin_board.jpg", alt: "bulletin_board", class: "d-block w-100 main-img", ontouchstart:""%>
              <div class="carousel-caption d-md-block">
                <h2><i class="fas fa-comments"></i> 掲示板</h2>
                <p>多くの立教生とつながり、相談や会話をすることが可能です。たくさんの会話を楽しみましょう！</p>
              </div>
            <%else%>
              <%=link_to(message_boards_path) do%>
                <%=image_tag "bulletin_board.jpg", alt: "bulletin_board", class: "d-block w-100 main-img", ontouchstart:""%>
                <div class="carousel-caption d-md-block">
                  <h2><i class="fas fa-comments"></i> 掲示板</h2>
                  <p>多くの立教生とつながり、相談や会話をすることが可能です。たくさんの会話を楽しみましょう！</p>
                </div>
              <%end%>
            <%end%>
            <%if current_user == nil %>
              <span class="only_sub">※会員限定</span><br>
            <%end%>
          </div>
          <div class="carousel-item main-content">
            <% if current_user == nil%>
              <div class="carousel-caption d-md-block">
                <h2><i class="fas fa-table"></i> 時間割管理</h2>
                <p>シラバス検索で見つけた講義からあなただけの時間割を作成することが可能です。</p>
              </div>
              <span class="only-sub">※会員限定</span><br>
              <%=image_tag "timetable.jpg", alt: "timetable", class: "d-block w-100 main-img",ontouchstart:""%>
            <%else%>
              <%=link_to(timetables_path(current_user)) do%>
                <div class="carousel-caption d-md-block">
                  <h2><i class="fas fa-table"></i> 時間割管理</h2>
                  <p>シラバス検索で見つけた講義からあなただけの時間割を作成することが可能です。</p>
                </div>
                <%=image_tag "timetable.jpg", alt: "timetable", class: "d-block w-100 main-img",ontouchstart:""%>
              <%end%>
            <%end%>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
