<div class="sign_in_box">
  <div class="sign_in_box_inner">
    <div class="sign_in_image">
      <%=image_tag "welcome.jpg" ,alt:"welcome",class:"welcome-image"%>
    </div>
    <div class="sign_in_container">
      <div class="sign_in_containerInner">
        <h2>LOGIN</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, placeholder:"メールアドレス", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, placeholder:"パスワード", autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "LOGIN" %>
          </div>
        <% end %>
        <div class="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
