<div class="cart_index">
  <div class="cartInner">
    <%=form_tag(new_charge_path,method: :get )do%>
      <h1>My カート</h1>
      <div class="cartContent">
        <%if @sum == 0%>
          <div class="cartZeroContent">
            <div class="text-center">
              <h2>カートは空です。<br>マーケットで買い物をしましょう！！</h2>
              <%=link_to "マーケットに移動する",products_path,class:"marketGoLink btn btn-primary"%>
            </div>
            <div class="marketGoImg text-center">
              <%=image_tag "market.jpg",width:"100%"%>
            </div>
          </div>
        <%else%>
          <%@cart_items.each do |cart_item|%>
            <div class="cartContentItem row">
              <div class="col-md-6">
                <%=image_tag cart_item.product.image.url,class: "img-responsive",width:"60%",height:"200px"%>
              </div>
              <div class="cartContentItemDescription col-md-6">
                <h2><%=link_to cart_item.product.name,product_path(cart_item.product.id)%></h2>
                <table class="table table-bordered">
                  <tr>
                    <th>
                      <select data-id=<%=cart_item.product.id%> class="cart_quantity" name="cart_quantity">
                        <%for num in 1..10%>
                          <%if num == cart_item.quantity%>
                            <option selected value=<%=num%>><%=num%></option>
                          <%else%>
                            <option value=<%=num%>><%=num%></option>
                          <%end%>
                        <%end%>
                      </select>
                    </th>
                    <td>
                      <div class="col-md-6">
                        <h5>¥<%=cart_item.product.price * cart_item.quantity%></h5>
                      </div>
                    </td>
                  </tr>
                </table>
                <div class="text-right">
                  <%=link_to "カートから削除",cart_item_path(cart_item.id),:method => :delete,class:"btn btn-warning"%>
                </div>
              </div>
            </div>
          <%end%>
          <div class="text-right">
            <h3>合計　¥<%=@sum%></h3>
          </div>
          <div class="finalPaymentContainer">
            <input type="submit"  value="注文する" class="btn btn-danger btn-lg btn-block">
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>
<%= javascript_pack_tag 'cart_sum', 'data-turbolinks-track': 'reload' %>
