<!DOCTYPE html>
<html>
  <head>
    <title>Emora</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9322749711.js"></script>
  </head>

  <body>
    <header>
      <div class="header_inner">
        <div class="header_title">
          <h1><%=link_to"Emora","/"%></h1>
        </div>
        <div class="global_nav">
          <nav>
            <ul>
              <% if user_signed_in? %>
                <li><%=link_to"ログアウト",destroy_user_session_path,method: :delete,class:"login_var"%></li>
                <li>お問い合わせ</li>
                <li><%=link_to'掲示板',message_boards_path%></li>
                <li><%=link_to'時間割',timetables_path(current_user)%></li>
                <li><%=link_to"シラバス検索","/subjects/search"%></li>
                <li><i class="fas fa-user"></i> <%=link_to current_user.name,user_path(current_user)%></li>
              <% else %>
                <li><%=link_to"ログイン",new_user_session_path,class:"login_var"%></li>
                <li><%=link_to"新規登録",new_user_registration_path,class:"login_var"%></li>
                <li>お問い合わせ</li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
