<!DOCTYPE html>
<html>
  <head>
    <title>Emora</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9322749711.js"></script>
  </head>

  <body>
    <header>
      <div class="header_inner">
        <div class="header_title">
          <h1><%=link_to"Emora","/"%></h1>
        </div>
        <div class="global_nav">
          <nav>
              <% if user_signed_in? %>
                <div id="nav-drawer">
                    <input id="nav-input" type="checkbox" class="nav-unshown">
                    <label id="nav-open" for="nav-input"><span></span></label>
                    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
                    <div id="nav-content">
                      <ul>
                        <li>
                          <i class="fas fa-user"></i> <%=link_to current_user.name,user_path(current_user)%>
                          <%=link_to destroy_user_session_path, method: :delete, class:"login_var" do %>
                            <i class="fas fa-sign-out-alt"></i>
                          <%end%>
                        </li>
                        <li><%=link_to'時間割',timetables_path(current_user)%></li>
                        <li><%=link_to'掲示板',message_boards_path%></li>
                        <li><%=link_to"シラバス検索","/subjects/search"%></li>
                        <li>お問い合わせ</li>
                      </ul>
                    </div>
                 </div>
              <% else %>
                <ul class="logout_list">    
                  <li><%=link_to"新規登録",new_user_registration_path,class:"login_var"%></li>
                  <li>
                    <%=link_to(new_user_session_path,class:"login_var") do%>
                      <i class="fas fa-sign-in-alt"></i>
                    <%end%>
                  </li>
                  <li>お問い合わせ</li>
                </ul>
              <% end %>
          </nav>
        </div>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
