<!DOCTYPE html>
<html>
  <head>
    <title>Emora</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9322749711.js"></script>
  </head>
  <body>
    <div class="global_nav">
      <% if user_signed_in? %>
        <nav class="login_nav" id="slide-menu">
              <ul class="signed_in_list">
                <li>
                  <%=link_to "/" do%>
                  <p><i class="fas fa-home"></i> HOME</p>
                  <%end%>
                </li>
                <li>
                  <%=link_to user_path(current_user) do%>
                    <p><i class="fas fa-user"></i> <%=current_user.name%></p>
                  <%end%>
                </li>
                <li>
                  <%=link_to timetables_path(current_user) do%>
                    <p><i class="fas fa-table"></i> 時間割</p>
                  <%end%>
                </li>
                <li>
                  <%=link_to message_boards_path do%>
                    <p><i class="fas fa-comments"></i> 掲示板</p>
                  <%end%>
                </li>
                <li>
                  <%=link_to "/subjects/search" do%>
                    <p><i class="fas fa-book-open"></i> シラバス検索</p>
                  <%end%>
                </li>
                <li>
                  <%=link_to destroy_user_session_path, method: :delete do %>
                    <p><i class="fas fa-sign-out-alt"></i> ログアウト</p>
                  <%end%>
                </li>
              </ul>
          </nav>
      <% end %>
    </div>
    <div id="content">
      <% if user_signed_in? %>
      <div class="menu-trigger"></div>
      <%end%>
      <header>
        <div class="header_title">
          <h1><%=link_to"Emora","/"%></h1>
        </div>
        <%if user_signed_in?%>
        <%else%>
          <nav class="logout_nav">
              <ul class="logout_list">
                <li>
                  <%=link_to(new_user_registration_path,class:"login_var") do%>
                    <span>新規登録</span>
                  <%end%>
                </li>
                <li>
                  <%=link_to(new_user_session_path,class:"login_var") do%>
                    <span>ログイン</span>
                  <%end%>
                </li>
              </ul>
          </nav>
        <%end%>
      </header>
      <%if flash[:notice] %>
        <div class="notice">
          <p><%= notice %></p>
        </div>
      <%elsif flash[:alert]%>
      <div class="alert">
        <p><%= alert %></p>
      </div>
      <%elsif flash[:success]%>
      <div class="success">
        <p><%= success %></p>
      </div>
      <%end%>
      <div class="entire">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
